.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.heading {
  color: black;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 500;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
